@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Teko:wght@600&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/banner.css");



body{
	font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h1, h2, h3{
	font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a {
	text-decoration: none;
}
.banner
{
	background-image: url(../images/photo.jpeg);
	color: black;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;

}
.avatar
 {
	width:60px;
	height: 60px;
	border-radius:50%;

}

.container {
	width: 700px;
	margin: 80px auto;

}

@media (max-width: 960px;){
	.container {
		width: 700px;
	}
}

@media (max-width: 720px;){
	.container {
		width: 500px;
	}
}

@media (max-width: 540px;){
	.container{
		width: 300px;
	}
}

.btn-blue {
	background-color: black;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: "Teko", serif;


 
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}


.banner h1 {
	font-size: 50px;
}

.card{
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:30px
	font-size: 24px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1)




}

.card{
	margin: 30px;
	border-radius: 10px;
	flex-basis: 250px;
	flex-grow: 1;
}

.card img {
	width: 150px;
	border-radius: 6px;
}


.card h3 {
	flex-grow: 1px;
	padding-left: 20px;
	font-size: 18px;

}



.cards{
	display: flex;
	flex-wrap: wrap;
}
